@{
    ViewData["Title"] = "За Нас";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 18px;">
    Шарен Свят е магазин в София, България. Нашата цел е <br />
    да оцветим ежедневието ви с цветни предложения на достъпни цени. <br />
    За контакти с нас: <br />
    Адрес: бул. "Мария Луиза" , 97 , София , България <br />
    Управител: Иванка Стоянова  <br />
    тел. номер: +359 87 23 5484 <br />
    емейл: sharensvqt@gmail.org <br />
    ОЧАКВАМЕ ВИ!
</p>
